.App {
  text-align: center;
}

.navbar-brand {
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
}

.username {
  color: white;
  margin-bottom: 0px;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  text-decoration: underline;
}

form {
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

ul {
  list-style: none;
}

.ticket-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.issue-tile {
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgray;
  margin: 1rem;
  padding: 2rem;
  max-width: 500px;
  overflow: hidden;
}

.issue-tile-new {
  border: 3px solid green;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgray;
  margin: 1rem;
  padding: 2rem;
  max-width: 500px;
  overflow: hidden;
}

.issue-tile-closed {
  border: 3px solid black;
  background-color: lightgrey;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgray;
  margin: 1rem;
  padding: 2rem;
  max-width: 500px;
  overflow: hidden;
}

.btn-link {
  color: white;
}

.btn-link:hover {
  color: white;
}

.dropdown-menu {
  text-align: center;
}
