.App {
  text-align: center;
}

form {
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

ul {
  list-style: none;
}

.issueTile {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgray;
  margin: 1rem;
  padding: 2rem;
}

.btn-link {
  color: white;
}

.btn-link:hover {
  color: white;
}

.dropdown-menu {
  text-align: center;
}
